# .NET Core
bin/
obj/
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/
.history/

# Rider
.idea/
*.sln.iml

# User-specific files
*.swp
*~
*.sln.docstates

# Logs
*.log

# NuGet
*.nupkg
*.snupkg
.nuget/

# Entity Framework
*.edmx.diagram
*.edmx.sql
*.edmx

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# StyleCop
StyleCopReport.xml

# Files built by Visual Studio
.vs/

/config/firebase-adminsdk.json